BETTER_AUTH_SECRET=d2cf3128079aa7148e4026c2297ba15efc3a19bc415f8a17831f2c198d9e0b28

BETTER_AUTH_URL=http://localhost:3000

KEYCLOAK_CLIENT_ID=room-booking
KEYCLOAK_CLIENT_SECRET=yUM4kgLxU8eVSsJZxKCJyC37tA7d3yrZ
KEYCLOAK_ISSUER=https://keycloak.kshrd.app/realms/user-management
